.App {
  max-width: 600px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  border: 1px solid;
}

.topnav {
  padding: 5px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0px solid;
  border-bottom-width: 2px;
  border-bottom-color: black;
}

.topnav p {
  font-size: 12px;
  margin: 0px;
}

.topnav h3 {
  margin: 0px;
}

.topnav-right {
  display: flex;
  align-items: center;
}

.topnav-right-content {
  margin-left: 5px;
  margin-top: px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
