@import "react-calendar/dist/Calendar.css";

.react-calendar {
  width: 100%;
  background-color: #f2f2f2;
  border: none;
}

/* 년-월 */
.react-calendar__navigation__label > span {
  color: rgb(50, 50, 50);
  font-family: SUIT Variable;
  font-size: 20px;
  font-weight: bold;
  line-height: 140%;
}

.react-calendar__navigation button:enabled:hover {
  color: #e4d7ca;
  width: 15px;
  background-color: #e4d7ca;
  border-radius: 3px;
}

/* 요일 */
.react-calendar__month-view__weekdays__weekday {
  color: rgb(50, 50, 50);
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.react-calendar__month-view__days__day--weekend {
  color: rgb(50, 50, 50);
  font-size: 18px;
  font-weight: bold;
  width: 44px;
  height: 44px;
  text-align: center;
}

/* 이번 달 일자 */
.react-calendar__tile {
  color: rgb(50, 50, 50);
  font-size: 12px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  /* text-align: center;
  align-items: center; */
}

/* 저번 달 & 다음 달 일자 */
.react-calendar__month-view__days__day--neighboringMonth {
  color: #5f5f5f;
  font-size: 18px;
  font-weight: bold;
  width: 44px;
  height: 44px;
}

.react-calendar__tile {
  height: 100px;
}

/* 오늘 날짜 */
.react-calendar__tile--now {
  background-color: #cbcbcb;
  font-weight: bold;
  border-radius: 10px;
}

/* 선택된 날짜의 배경색 변경 */
.react-calendar__tile--active {
  background-color: #cbcbcb;
  font-weight: bold;
  border-radius: 10px;
}

.react-calendar__tile--hasActive {
  background: #cbcbcb;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #cbcbcb;
}

.dot-container {
  width: 100%;
}

/* 일정 있는 날 표시 점 */
.dot {
  background-color: #e4d7ca;
  padding: 1px;
  border-radius: 5px;
  text-align: center;
  margin-top: 3px;
}
