.following .mytop {
    display: flex;
    justify-content: space-between;
    background: #FFFFFF;
    position: fixed;
    height: 62px;
    top: 0;
    left: 0;
    right: 0;
    max-width: 600px;
    width: 100%;
    background: #FFFFFF;
    border-bottom: 0.5px solid #D2D5D6;
    margin: 0 auto;
    z-index: 10;
    align-items: center;
}

.following .follow-user-profile-img {
    height: 70px;
    width: 70px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin: 10px 30px 10px 50px;
    border: 0.5px solid #dadada;
}