* {
    box-sizing: border-box;
    text-decoration: none;
}

.meongsaengcontent .content {
    max-width: 600px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
}

.meongsaengcontent .meongsaengcontent-pics {
    margin: 7px 0px;
}

.meongsaengcontent .meongcontent {
    width: 100%;
    height: 100%;
}