* {
    box-sizing: border-box;
    text-decoration: none;
}

.content {
    max-width: 600px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
}

.meongsaeng-pics {
    width: 160px;
    height: 160px;
    margin: 5px;
}

.meong {
    width: 100%;
    height: 100%;
    position: relative;
    top: 55px;
    bottom: 60px
}

.meongseng-teg-box {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.meongsaeng-teg {
    width: 100px;
    height: 28px;
    background-color: #e4d7ca;
    border-radius: 15px;
    margin: 5px;
    text-align: center;
}

.addButton {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    font-size: 15px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #e4d7ca;
    position: fixed;
    bottom: 80px;
    margin-left: 500px;
    border: 2px solid rgb(206, 182, 158);
}