.meongsaengtop .top {
    background: #FFFFFF;
    position: fixed;
    background: #FFFFFF;
    border-bottom: 0.5px solid #D2D5D6;
    height: 55px;
    top: 0;
    left: 0;
    right: 0;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    z-index: 10;
}

.meongsaengtop .search-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    max-width: 600px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.meongsaengtop .box {
    width: 465px;
    height: 30px;
    background-color: #e5e5e5;
    border-radius: 8px;
    outline: none;
    border: 0px;
    padding: 2px 15px;
}